<!DOCTYPE html>

<body style="background-color:#ADDBB7;">
</body>

<html>
  <head>
    <title>kmOn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1> <font face = "Courier New" size = 5 color = #F2F2F2>  <b>  Holi, esto es K'mOn.  </b> </font> </h1>
      <h3> <font face = "Courier New" size = 5 color = #F2F2F2>  <p>  Endpoints:  </p> </font> </h3>
      <h3> <font face = "Courier New" size = 5 color = #F2F2F2>  <p>  &nbsp&nbsp&nbsp&nbsp/RecomendacionPorPreferencias:  </p> </font> </h3>
      <h3> <font face = "Courier New" size = 5 color = #F2F2F2>  <p>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspParámetros:  </p> </font> </h3>
      <h3> <font face = "Courier New" size = 5 color = #F2F2F2>  <p>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFiltro: (restaurantes/tiendas/todo):Indica si se recomiendan solo restaurantes, solo tiendas o todo tipo de negocios  </p> </font> </h3>
      <h3> <font face = "Courier New" size = 5 color = #F2F2F2>  <p>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBody: JSON, Keys = "preferencias", Values = &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp[artesanal,basura0,km0,organico,productosfrescos,productostemporada,saludable,sostenible,vegano,vegetariano] </p> </font> </h3>
      <h3> <font face = "Courier New" size = 5 color = #F2F2F2>  <p>  &nbsp&nbsp&nbsp&nbsp/RecomendacionDependiente:  </p> </font> </h3>
      <h3> <font face = "Courier New" size = 5 color = #F2F2F2>  <p>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspParámetros:  </p> </font> </h3>
      <h3> <font face = "Courier New" size = 5 color = #F2F2F2>  <p>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspFiltro: (restaurantes/tiendas/todo):Indica si se recomiendan solo restaurantes, solo tiendas o todo tipo de negocios  </p> </font> </h3>
      <h3> <font face = "Courier New" size = 5 color = #F2F2F2>  <p>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspID:(valor del campo "index" del registro del negocio del que hay que realizar las recomendaciones)  </p> </font> </h3>
        <!-- <form method="POST"> -->
            <!-- <input name="text">
            <input type="submit"> -->
        </form> 
      
      <br>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>